html {
    background-color: #000000;
}
body {
    background-color:#ffffff;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.header {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}
.nameTitle {
    background-color: #000000;
    margin:34px 0px 0px 0px;
    padding: 0px;
}
.topBar {
    background-color: #000000;
    margin: 0px auto;
    padding: 0px;
    width: 800px;
}
.contactInfo {
    margin: 77px auto 0px auto;
    padding: 0px;
    width: 800px;
    }
.categoryTitle {
    margin: 20px auto 0px auto;
    padding: 0px;
    width: 800px;
}
.category {
    margin: 17px auto 0px auto;
    padding: 0px;
}
.subcategory {
    /* margin: 2px auto 0px auto; */
    margin: 10px auto 0px auto;
    padding: 0px;
}
.description {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.job {
    margin: 0px;
    padding: 0px;
}
.space {
    margin: 0px;
    padding: 0px;
    height: 6pt;
}
#rightAlign {
    float: right;
}
.clear {
    clear: both;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    margin: 10px 0px 0px 0px;
}
.jobBullets {
    padding: 0px 0px 0px 30px;
}
.skillsItem {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-align: left;
}
a:link, a:visited {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 11pt;
    color: #000000;
    font-weight: normal;
    line-height: 15pt;
    text-decoration: underline;
}
a:hover, a:active {
    text-decoration: none;
}
h1 {
    font-size: 30pt;
    font-variant: small-caps;
    color: #ffffff;
    font-weight: bold;
    line-height: 30pt;
}
h2 {
    margin: inherit;
    padding: 0px;
    font-size: 18pt;
    color: #000000;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
}
h3 {
    margin: inherit;
    padding: 0px;
    font-size: 11pt;
    color: #000000;
    font-weight: bold;
    line-height: 15pt;
}
h4 {
    margin: inherit;
    padding: 0px;
    font-size: 11pt;
    color: #000000;
    font-weight: normal;
    font-style: italic;
    line-height: 15pt;
}
h5 {
    margin: inherit;
    padding: 0px;
    font-size: 11pt;
    color: #000000;
    font-weight: normal;
    line-height: 15pt;
}
.bottomBar {
    background-color: #000000;
    margin: 40px 0px 0px 0px;
    padding: 0px;
    height: 80px;
    width: 100%;
}